.Content
  width 100%
  position relative
  flex 1 1 auto
  display flex
  overflow auto
  background-color GrisGoogle
  .Filter
    width 300px
    transition .3s
    height 100%
    display inline-block
    position absolute
    z-index 0
    &__box
      display flex
      height 100%
      flex-direction column
      &--title
        height 60px
        line-height 60px
        border-bottom 1px solid #d4d4d4
        h3
          font-size 1.2rem
          font-weight bold
          text-align center
          line-height 60px
          margin 0
      &--selects
        overflow-y auto
        padding 1rem 0
        height 100%
        .input-field
          width 85%
          margin-left auto
          margin-right auto
  .TableList
    transition .3s
    width 100%
    padding-left 300px
    box-sizing border-box
    &__box
      flex 1 1 auto
      height 100%
      display flex
      flex-direction column
      &--table, &--pagination
        display flex
        flex 1 auto
      &--table
        overflow-y auto
        .TableList__Item
          .header
            height 60px
            .cheader
              height 60px
          .Articles_containers
            .SocioItem
              td
                padding 10px 5px
      &--pagination
        margin 0 auto
        height 70px
        .Pagination
          .PaginationContent
            margin  10px
            .selectPage
              margin 0 5px              