doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Legión Caballería
    meta(name='description', content='Joel Gonzales Tipismana Full-Stack Web Developer, Emprendedor, Co-Fundador y CEO de @TeamCromlu, youtuber @rktecnology. HTML5, CSS3, JavaScript, ECS6, BackboneJS, NodeJS, MongoDB')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    //- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

    link(rel='stylesheet', href='/style/style.css')
  body#App_Container
    .App_Container__box
      nav.Header
        .nav-wrapper.Header__container
          a.Header__container--title.Logo.left(href='/') Legión Caballería
          div.Header__container--search
            input#txt_box_search(type='search', required='', placeholder="Buscar socio por nombre o DNI")
            button.grey.darken-2#btn_box_search
              i.material-icons search

          div.Header__container--avatar.right
            img.responsive-img.circle(width='40', src='../images/default.jpg', alt='')
      .main-container
        .main-container__box
          nav.SubHeader
            .SubHeader__box
              .SubHeader__box--list
                .linkRoute Socios | 
                  span.HeaderMain__breadgruns__left--variable-route #usuarios
                  .fa-chevron-right.right
                    i.material-icons keyboard_arrow_right
              .SubHeader__box--icons
                .Icons
                  .Icons__item.btn_change_order#Filter_resize
                    i.material-icons filter_list
                  .Icons__item
                    .dropdown-button(data-activates='dropdown1')
                      i.material-icons more_vert
                    ul#dropdown1.dropdown-content
                      li
                        a(href='#!') texto
          .Content
            .Filter.grey.lighten-3
              .Filter__box
                .Filter__box--title
                  h3 Filtros
                .Filter__box--selects
                  .input-field
                    select#type_partner
                      option(value='Todos') Todos
                      option(value='Activos') Activos
                      option(value='Adherentes') Adherente
                    label Por tipo de socio
                  .line-divider
                  .input-field
                    select#situation_partner
                      option(value='Todos') Todos
                      option(value='Habil') Hábil
                      option(value='Inhabil') Inhábil
                      option(value='Renunciante') Renunciante
                      option(value='Fallecido') Fallecido
                    label Por situación de socio
                  .line-divider
                  .input-field
                    select#type_payment
                      option(value='Todos') Todos
                      option(value='OGECOE') OGECOE
                      option(value='CPMP') CPMP
                      option(value='Pago Directo') Pago Directo
                    label Por tipo de pago
                  .line-divider
                  .input-field
                    select#situation_work
                      option(value='Todos') Todos
                      option(value='Actividad') Actividad
                      option(value='Retiro') Retiro
                    label Por situación de trabajo
                  .line-divider
                  .input-field
                    select#letter_declaration
                      option(value='Todos') Todos
                      option(value='Si') Si
                      option(value='No') No
                    label Carta declaratoria
                  .line-divider
                  .input-field
                    select#onomastic
                      option(value='Todos') Todos
                      option(value='Enero') Enero
                      option(value='Febrero') Febrero
                      option(value='Marzo') Marzo
                      option(value='Abril') Abril
                      option(value='Mayo') Mayo
                      option(value='Junio') Junio
                      option(value='Julio') Julio
                      option(value='Agosto') Agosto
                      option(value='Setiembre') Setiembre
                      option(value='Octubre') Octubre
                      option(value='Noviembre') Noviembre
                      option(value='Diciembre') Diciembre
                    label Por honomástico
            .TableList
              .TableList__box
                //- Table with Items
                .TableList__box--table
                  table.TableList__Item.table.table-bordered.fixed.highlight
                    thead.header
                      tr.cheader
                        th.text-center(rowspan='2')
                        th.text-center(rowspan='2') Nombres y Apellidos
                        th.text-center(rowspan='2') Situación
                        th.text-center(rowspan='2') CIP
                        th.text-center(rowspan='2') Carta Declaratoria
                        th.text-center(rowspan='2')

                    tbody#boxListUsers.Articles_containers
                      //- tr
                      //-   td
                      //-     div.avatar-socio(style="background-image: url(../images/default.jpg)")
                      //-   td Smith
                      //-   td 50
                      //-   td 50
                      //-   td 50
                      //-   td
                      //-     i.material-icons.tag(style="color: #f44336") label
                      //- tr
                      //-   td
                      //-     div.avatar-socio(style="background-image: url(../images/default.jpg)")
                      //-   td Smith
                      //-   td 20
                      //-   td 50
                      //-   td 50
                      //-   td
                      //-     i.material-icons.tag(style="color: #26a69a") label

                //- Pagination
                .TableList__box--pagination
                  .Pagination
                    ul.PaginationContent.pagination
          .fixed-action-btn.horizontal
            a#newSocio.btn-open-modal-crearSocio.btn-floating.btn-large.tooltipped(data-tooltip="Agregar nuevo socio", data-delay="50", data-position="left")
              i.material-icons add
      //- The Modal
      //- #myModal.modal
        // The Close Button
        span.close(onclick="document.getElementById('myModal').style.display='none'") ×
        // Modal Content (The Image)
        img#img01.modal-content
        // Modal Caption (Image Text)
        #caption
      //- Enlaces Script JS
    script(src='../js/vendor/jquery.min.js')
    script(src='../js/vendor/materialize.min.js')
    script(src='../js/index.js')