doctype html
html(lang='es')
    head
        meta(charset='UTF-8')
        title Caballeria
        meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
        meta(name='description', content='Joel Gonzales Tipismana Full-Stack Web Developer, Emprendedor, Co-Fundador y CEO de @TeamCromlu, youtuber @rktecnology. HTML5, CSS3, JavaScript, ECS6, BackboneJS, NodeJS, MongoDB')
        // Esstilos Enlaces CSS
        link(rel='icon', type='image/png', href='../images/favicon.png')
        link(rel='stylesheet', type='text/css', href='../css/index.css')
        link(rel='stylesheet', type='text/css', href='../css/modal/index.css')
    
    body#App_Container
        div(class="App_Container__box")

            // Header Main
            header(clasS="HeaderMain")
                div(class="HeaderMain__box")

                    // Header Main Top
                    div(class="HeaderMain__top")
                        div(class="HeaderMain__top__left")
                          div(class="HeaderMain__top__left--logo")
                              h2 Caballeria

                          div(class="HeaderMain__top__left--search")
                              input(id="txt_box_search", type='text', placeholder='Buscar socio por nombre o DNI')
                              button#btn_box_search  Buscar

                      div(class="HeaderMain__top__right")
                          div(class="HeaderMain__top__right--avatar")
                              img(src="../images/default.jpg", width="30")

                    // Header Main Breadgrunps
                    div(class="HeaderMain__breadgruns")
                       div(class="HeaderMain__breadgruns__left")
                           div(class="HeaderMain__breadgruns__left--sub-title")
                               span Socios
                           div(class="HeaderMain__breadgruns__left--variable-route")
                               span 12 Usuarios

                       div(class="HeaderMain__breadgruns__right")
                           div(class="HeaderMain__breadgruns__right--btn-filter")
                               span F
                           div(class="HeaderMain__breadgruns__right--btn-options")
                               span O

            section(class="TableFilterbox")
                article(class="TableFilterbox__Filter")
                    div(class="TableFilterbox__Filter__title")
                        p Filtros
                    div(class="TableFilterbox__Filter__content")
                        div(class="TableFilterbox__Filter__content--socio-type")
                            label Por Tipo de Socio
                            select
                              option(value="volvo") Usuarios Activos
                              option(value="saab") Saab
                              option(value="mercedes") Mercedes
                              option(value="audi") Audi
                        div(class="TableFilterbox__Filter__content--socio-situation")
                            label Por situacion de Socio
                            select
                              option(value="volvo") Todos
                              option(value="saab") Saab
                              option(value="mercedes") Mercedes
                              option(value="audi") Audi
                        div(class="TableFilterbox__Filter__content--socio-pago")
                            label Por tipo de pago
                            select
                              option(value="volvo") Todos
                              option(value="saab") Saab
                              option(value="mercedes") Mercedes
                              option(value="audi") Audi
                        div(class="TableFilterbox__Filter__content--socio-trabajo")
                            label Por situacion de trabajo
                            select
                              option(value="volvo") Todos
                              option(value="saab") Saab
                              option(value="mercedes") Mercedes
                              option(value="audi") Audi
                        div(class="TableFilterbox__Filter__content--carta-declaratoria")
                            label Carta Declaratoria
                            select
                              option(value="volvo") Si
                              option(value="saab") Saab
                              option(value="mercedes") Mercedes
                              option(value="audi") Audi
                        div(class="TableFilterbox__Filter__content--socio-honomastico")
                            label Por honomastico
                            select
                              option(value="volvo") Mes
                              option(value="saab") Saab
                              option(value="mercedes") Mercedes
                              option(value="audi") Audi



                article(class="TableFilterbox__TableSocios")
                    // Table List
                    section(class="TableList")
                      div(class="TableList__box")

                      // Table with Items
                      div(class="TableList__table")
                        table(class="TableList__Item  table  table-bordered  fixed")
                          thead(class="header")
                            tr(class="cheader")
                              th.text-center(rowspan='2')
                              th.text-center(rowspan='2') Nombres y Apellidos
                              th.text-center(rowspan='2') Situación
                              th.text-center(rowspan='2') CIP
                              th.text-center(rowspan='2') Carta Declaratoria
                              th.text-center(rowspan='2')
                          tbody#boxListUsers.Articles_containers
                      // Pagination
                      .TableList__pagination
                        .Pagination
                          .PaginationContent


            
        // Enlaces Script JS
        script(src='../js/vendor/jquery.min.js')
        script(src='../js/index.js')