.SubHeader
	position relative
	padding-left 30px
	width 100%
	z-index 50
	background-color VerdeSubHeader
	height 56px
	&__box
		position relative
		margin 0 1rem 0 0
		box-sizing border-box
		&--list
			height 56px
			width 100%
			padding-right 100px
			box-sizing border-box
			display flex
			.linkRoute
				height 56px
				line-height 56px
				margin-right 10px
				color white
				width auto
				opacity .87
				font-size 20px
				// display inline-block
				cursor pointer
				& span
					font-size 13px
				&:last-child
					.fa-chevron-right
						display none
				.fa-chevron-right
					line-height 56px
					height 56px
					margin-left 10px
					display inline-block
					i
						line-height 56px
				&:hover
					opacity 1
		&--icons
			position absolute
			right 0
			width 100px
			height 56px
			top 0
			.Icons
				height 56px
				width 100%
				&__item
					display inline-block
					margin 13px 10px
					width 30px
					height 30px
					cursor pointer
					i
						text-align center
						line-height 30px
						height 30px
					// &:hover
					// 	background-color #424242
					// 	border-radius 4px