doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Caballeria
  body
    header
      h1 Caballeria
    section
      .Login-in__box
        h3
          | Iniciar Sesión
        .Login-in__form
          form(action='/auth/dashboard', method='post')
            div
              div
                input(type='text', name='username', placeholder='Ingresar tu nombre de usuario')
              div
                input(type='password', name='password', placeholder='Ingresar tu contraseña')
              div
                p #{message}
            div
              button Ingresar
        .Login-in__get-Account
          p ¿Has olvidado tu usuario ó contraseña?
          a(href='/account-process/forget-password') Entrar
