.Header
	position relative
	width 100%
	z-index 60
	height 60px
	padding-left 30px
	background-color GrisGoogle
	&__container
		height 60px
		&--title
			margin 0 1rem 0 0
			line-height 60px
		&--search
			width 50%
			max-width 400px
			float left
			height 60px
			margin 0 .8rem
			position relative
			line-height 60px
			border-radius 4px
			input
				box-shadow 0 0 1px #616161
				background-color white
				padding 4px
				height 30px
				border 0
				color color_text1
				padding-right 60px
				margin 0
				box-sizing border-box
				border-radius 4px
				&:focus
					border 0 !important
					box-shadow 0 0 1px #424242 !important
			button
				height 32px
				width 60px
				border-radius 0 4px 4px 0
				position absolute
				top 13px
				right 0
				border 0
				i
					font-size 1rem !important
					height 30px
					line-height 30px
			.searchContainer
				top 47px
				box-shadow 0 1px 3px #d8d8d8
				display none
				width 100%
				position absolute
				max-height 400px
				background-color white
				overflow auto
				&__item
					border-bottom 1px solid #ececec
					&--link
						display block
						color color_text1
						padding 0 1em
						font-size 14px
						&:hover
							background-color #f9f9f9
							// color color_text1
		&--avatar
			height 60px
			img
				margin 15px 10px
				width 30px