@import '../../../node_modules/materialize-css/bin/materialize.css'
@import 'nib'

color1 = #125688

body
	background-color grisBody
	// font-family 'Montserrat'
	font-size 16px

.landing
	margin 0 auto
	display flex
	align-items center
	height 100vh
	.iphone
		max-width: 100%
	.content-box
		display flex
		align-items center

.not-margin
	margin 0
	
@import './signin/style.styl'